# /Pipfile export-ignore
# /Pipfile.lock export-ignore
# /manage.py export-ignore
# /.devcontainer.json export-ignore
# /.github export-ignore
# /.venv export-ignore
# /.vscode export-ignore
# /.gitignore export-ignore
# /codecov.yml export-ignore
# /*.toml export-ignore
# /*.code-* export-ignore
**/*.md export-ignore
scripts export-ignore
